server/n8n/main-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-api",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1104,
        112
      ],
      "id": "dbe59b29-63fc-48f0-b778-c879341d42bd",
      "name": "Webhook",
      "webhookId": "a76ae689-9e96-48ca-817e-63a1da71d243"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Transform this message into a complete json object, also calculating the date of the task, like if the task is for 10am and the message sent is from 11am, so the task due_date will be tomorrow at 10am, follow this logic:\n\n{{ $json.toJsonString() }}\n\nI need these fields:\n\ntitle: message resumed\nuser_id: {{$('Check if phone number is linked').item.json.user_id}},\ndescription: Complete message with the identification that was sent by whatsapp using number {{ $json.senderPhoneNumber }}\npriority: understand the task level (1: high, 2: medium, 3: easy)",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -192,
        256
      ],
      "id": "02bfecca-dc3a-4d0c-8226-0d7fc5577d3c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -256,
        448
      ],
      "id": "414bf4c9-5b86-4e63-98cf-4441744b9173",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "bhQeFijywqfTGeAj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "auth",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3e1717a9-0d3c-4e3b-a8e0-ab5c10673ead"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "auth"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7ae6d7a3-056a-4454-816d-231d83423255",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "message",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -448,
        112
      ],
      "id": "7fa50f26-91e7-4e54-a9d5-2a9cc6f039dc",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://choma-web-app.vercel.app/api/phone-status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "3210306d0780926b1349d3552383899dc50bc6aff68e3d8c26305bf06585373011"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "senderPhoneNumber",
              "value": "={{ $json.body.sender.split(\"@\")[0] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -864,
        112
      ],
      "id": "6768c6a3-b0e0-4744-a317-c730fe7c7e66",
      "name": "Check if phone number is linked"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date()\nconst message = $('Webhook').first().json.body.data.message.conversation\nconst senderPhoneNumber = $input.first().json.phone_number\nconst linked = $input.first().json.is_linked\n\nif (message.includes(\"#auth\") && !linked) {\n  return [{\n    date: now,\n    type: \"auth\",\n    message: message.split(\" \")[1], \n    senderPhoneNumber, \n  }]\n}\n\nif (message.includes(\"#todo\") && linked) {\n  return [{\n    date: now,\n    type: \"message\",\n    message, \n    senderPhoneNumber, \n  }]\n}\n\nreturn [{}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        112
      ],
      "id": "11fc803d-8765-466e-a90b-a09cdbfecd1e",
      "name": "Verify message type"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://choma-web-app.vercel.app/api/webhook/evolution-api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "3210306d0780926b1349d3552383899dc50bc6aff68e3d8c26305bf06585373011"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -192,
        0
      ],
      "id": "ebda2607-cb65-42ea-9886-51d20b6c5ea2",
      "name": "Link phone with auth code"
    },
    {
      "parameters": {
        "jsCode": "const itemJson = $input.first().json;\n\nconst nestedString = itemJson.output;\n\nconst cleanJsonString = nestedString.replace(/^```json\\s*|\\s*```$/g, '').trim();\n\nconst finalObject = JSON.parse(cleanJsonString);\n\nreturn [{\n  json: {\n    task: finalObject\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        256
      ],
      "id": "57c7e3a3-da9c-4eb5-a204-93f017052290",
      "name": "Parse to json object"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://choma-web-app.vercel.app/api/todos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "3210306d0780926b1349d3552383899dc50bc6aff68e3d8c26305bf06585373011"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.task.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        256
      ],
      "id": "551b69c1-cfa3-4ea7-9fd2-be7b0d7637fd",
      "name": "Create todo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://instance-20250821-130423.tamarin-tyrannosaurus.ts.net/message/sendText/{{ $('Webhook').item.json.body.instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "d5c7e5ec2decf03fffddfe6c92ce9700b67e868358ee7abc7ff9b88e9f245a0c"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{$('Webhook').item.json.body.sender}}\",\n  \"text\": \"hey\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        0
      ],
      "id": "854d2369-e289-4b1c-9c53-32ff0a347b2e",
      "name": "Send Auth Confirmation Message"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        -80
      ],
      "id": "c8bf88ca-6ecc-4821-b57b-3e29dbf18a7a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8080/instance/fetchInstances",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "d5c7e5ec2decf03fffddfe6c92ce9700b67e868358ee7abc7ff9b88e9f245a0c"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        -96
      ],
      "id": "e3945e3c-7005-4d66-94f7-2d492bbf0a44",
      "name": "HTTP Request",
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check if phone number is linked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse to json object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Link phone with auth code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if phone number is linked": {
      "main": [
        [
          {
            "node": "Verify message type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify message type": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Link phone with auth code": {
      "main": [
        [
          {
            "node": "Send Auth Confirmation Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse to json object": {
      "main": [
        [
          {
            "node": "Create todo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "instance-20250821-130423.tamarin-tyrannosaurus.ts.net:8443",
          "user-agent": "axios/1.7.7",
          "content-length": "609",
          "accept-encoding": "gzip, compress, deflate, br",
          "content-type": "application/json",
          "tailscale-funnel-request": "?1",
          "x-forwarded-for": "146.70.98.165",
          "x-forwarded-host": "instance-20250821-130423.tamarin-tyrannosaurus.ts.net:8443",
          "x-forwarded-proto": "https"
        },
        "params": {},
        "query": {},
        "body": {
          "event": "messages.upsert",
          "instance": "choma-tasks",
          "data": {
            "key": {
              "remoteJid": "5511948332094@s.whatsapp.net",
              "fromMe": true,
              "id": "3A0FDCA0BEB26C93BAA8"
            },
            "pushName": "David Molizane",
            "message": {
              "conversation": "hey"
            },
            "messageType": "conversation",
            "messageTimestamp": 1755785558,
            "instanceId": "3267dfd3-0bbb-46bb-869e-5a58ce0f99d7",
            "source": "ios"
          },
          "destination": "https://instance-20250821-130423.tamarin-tyrannosaurus.ts.net:8443/webhook/evolution-api",
          "date_time": "2025-08-21T11:12:38.484Z",
          "sender": "5511948332094@s.whatsapp.net",
          "server_url": "http://localhost:8080",
          "apikey": "7978F0503C8C-4914-940C-98A8EA8B1E54"
        },
        "webhookUrl": "http://localhost:5678/webhook/evolution-api",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8df406030b5e31ee01ba7d68ec8c4b6dbe850ed2499edefd2a470beace775f9a"
  }
}